#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/outputs.h>

#define LAYER0 0
#define LAYER1 1
#define LAYER2 2
#define LAYER3 3

&mmv {
  acceleration-exponent = <1>;      // 1
  time-to-max-speed-ms = <500>;    // 40
  delay-ms = <0>;                   // 0
};
&msc {
  acceleration-exponent = <1>;      // 0
  time-to-max-speed-ms = <40>;      // 500
  delay-ms = <0>;                   // 10
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};
&mt {
    tapping-term-ms = <400>;
    quick-tap-ms = <200>;
};

/ {
    keymap {
        compatible = "zmk,keymap";
        layer_0 {
            bindings = <
&kp PSCRN         &kp N1  &kp N2          &kp N3       &kp N4          &kp N5                       &bt BT_SEL 0                                   &bt BT_SEL 0                   &kp N6            &kp N7           &kp N8            &kp N9             &kp N0       &kp LS(LCTRL) 
&kp LG(A)         &kp Q   &mt LSHFT W     &mt LCTRL F  &mt LALT P      &kp B           &bt BT_SEL 0 &bt BT_SEL 0 &bt BT_SEL 0         &bt BT_SEL 0 &bt BT_SEL 0  &bt BT_SEL 0     &kp J             &mt RALT L       &mt RCTRL U       &mt RSHFT Y        &kp QMARK    &kp INS
&kp LWIN          &kp A   &mt LSHFT R     &mt LCTRL S  &mt LALT T      &kp G                        &bt BT_SEL 0                                   &bt BT_SEL 0                   &kp M             &mt RALT N       &mt RCTRL E       &mt RSHFT I        &kp O        &mt RWIN CLCK
&kp ESC           &kp Z   &mt LSHFT X     &mt LCTRL C  &mt LALT D      &kp V          &kp C_MUTE                                                                 &kp C_MUTE       &kp K             &mt RALT H       &mt RCTRL COMMA   &mt RSHFT DOT      &kp SQT      &kp DEL
                                                                       &kp BACKSPACE  &kp TAB                                                                    &kp ENTER        &kp SPACE 
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        layer_1 {
            bindings = <
&kp PSCRN       &kp N1      &kp N2             &kp N3            &kp N4             &kp N5                      &bt BT_SEL 0                                   &bt BT_SEL 0                    &kp N6     &kp N7            &kp N8             &kp N9                &kp N0        &kp LS(LCTRL) 
&kp LG(A)       &kp PRCNT   &mt LSHFT PIPE     &mt LCTRL AT      &mt LALT LBKT      &kp RBKT       &bt BT_SEL 0 &bt BT_SEL 0 &bt BT_SEL 0         &bt BT_SEL 0 &bt BT_SEL 0  &bt BT_SEL 0      &kp LBRC   &mt RALT RBRC     &mt RCTRL CARET    &mt RSHFT POUND       &kp EXCL      &kp INS
&kp LWIN        &kp TILDE   &mt LSHFT FSLH     &mt LCTRL MINUS   &mt LALT LPAR      &kp RPAR                    &bt BT_SEL 0                                   &bt BT_SEL 0                    &kp LT     &mt RALT GT       &mt RCTRL PLUS     &mt RSHFT STAR        &kp EQUAL     &mt RWIN CLCK
&kp ESC         &kp GRAVE   &mt LSHFT BSLH     &mt LCTRL UNDER   &mt LALT DLLR      &none          &trans                                                                        &trans        &none      &mt RALT AMPS     &mt RCTRL SEMI     &mt RSHFT COLON       &kp DQT       &kp DEL
                                                                                    &kp BACKSPACE  &kp TAB                                                                       &kp ENTER     &kp SPACE 
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        layer_2 {
            bindings = <
&kp GRAVE &kp N1 &kp N2   &kp N3   &kp N4    &kp N5   &kp N1                   &kp N6     &kp N6 &kp N7    &kp N8    &kp N9   &kp N0   &none
&kp ESC   &kp Q  &kp W    &kp E    &kp R     &kp T    &kp N2 &kp N3 &kp N4      &kp N7 &kp N8 &kp N9                  &kp Y  &kp U     &kp I     &kp O    &kp P    &kp BSPC
&kp TAB   &kp A  &kp S    &kp D    &kp F     &kp G     &kp N5                     &kp N0  &kp H  &kp J     &kp K     &kp L    &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X    &kp C    &kp V     &kp B      &kp C_MUTE   &kp C_MUTE    &kp N  &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
                                  &kp W    &kp E    &kp R     &kp T
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        layer_3 {
            bindings = <
&kp GRAVE &kp N1 &kp N2   &kp N3   &kp N4    &kp N5   &kp N1                   &kp N6     &kp N6 &kp N7    &kp N8    &kp N9   &kp N0   &none
&kp ESC   &kp Q  &kp W    &kp E    &kp R     &kp T    &kp N2 &kp N3 &kp N4      &kp N7 &kp N8 &kp N9                  &kp Y  &kp U     &kp I     &kp O    &kp P    &kp BSPC
&kp TAB   &kp A  &kp S    &kp D    &kp F     &kp G     &kp N5                     &kp N0  &kp H  &kp J     &kp K     &kp L    &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X    &kp C    &kp V     &kp B      &kp C_MUTE   &kp C_MUTE    &kp N  &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
                                  &kp W    &kp E    &kp R     &kp T
            >;
        };

    };
};
